{%extends 'base.html'%} {%block head%}
<title>Alexandria</title>
{%endblock%} {%block body%}

<body>
    <section class="center-content">
        <form action="/login" method="POST">
            <br>
            <div align="center" style="font-size: 25px;">
                <h1>LOGIN</h1>
            </div>

            <div class="input-container">
                <i class="fa fa-user icon"> </i>
                <input class="input-field" name="username" type="text" id="username" placeholder="Username">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"> </i>
                <input class="input-field" name="password" type="password" id="password" placeholder="password">
            </div>
            <div align="center">
                <button type="submit" class="btn"> Login</button> not a member? <br>
                <a href="/register"> Join the Conclave </a>
            </div>
        </form>
    </section>
</body>

{%endblock%}