.panel {
  padding: 18px;
  width:100%;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion {
  background-color: #ff8080;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  padding:0.7em 1.4em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.15em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 text-transform:uppercase;
 font-weight:400;
 color:#FFFFFF;
 background-color:#3369ff;
 box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 text-align:center;
 position:relative;
}

@media all and (max-width:30em){
 .accordion{
  display:block;
  margin:0.4em auto;
 }

.active, .accordion:hover {
  background-color: #fb2056; 
}





* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
	padding: 0;
}

 
  header {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: red;
  outline: black solid 2px;
}
button{
  float: all;
  border: 3px solid brown;
}
.first{
	outline: #ff8080 solid 5px;
}


.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
  section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
    outline: white solid 5px;
}
.menu {
  float:left;
  width: 80%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: white;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

  article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 20px;
}

  footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}